@charset "UtF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    line-height: 160%;

    background: #111214 url(/assets/bg-claro.jpg) no-repeat top center;
    background-size: 100% auto;

    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}



header {
    text-align: center;
}

header img {
    width: 400px;
}




main {
    max-width: 576px;
    width: 90%;
}

section {
    background-image: linear-gradient(90deg, #CF741B, #FFF3BB, #FFCF48);
    border-radius: 18px;
    padding: 6px 4px;
}

section > div {
    padding: 24px 32px 32px 32px;

    border-radius: 20px;
    background-color: #1c2f3f;
}

section h2 {
    letter-spacing: 2px;
    text-shadow: 1px 2.5px #714C31;
    font-size: 35px;
    line-height: 35px;
}

section  p{
    padding-top: 15px;
    color: #a1a1aa;
    text-align: justify;
}



form {
    margin-top: 20px;
    gap: 14px;

    display: flex;
    flex-wrap: wrap; 


}

input, select {
    all: unset;

    border: 2.5px solid #4579CF;
    border-radius: 12px;
    background-color: #00051a66;

    padding: 10px;

    font-size: 14px;
    font-weight: 500;
}

input {
    flex: 1;
}

select {
    text-align-last: center;
}



button {
    width: 100%;
    padding: 10px;
    margin-top: 7px;

    font-weight: bolder;
    color:#111214;

    border: 0;
    border-radius: 12px;
    background-image:  linear-gradient(90deg, #CF741B, #FFF3BB, #FFCF48);

    box-shadow: 0 5px #5A2500;

    transition: background-image 0.8s ease-in-out, box-shadow 0.8s ease-in-out;
}

button:hover {
    cursor: pointer;
    transform:translateY(-1.5px);
}

button:disabled {
    cursor: not-allowed;
    transform: translateY(0);

    box-shadow: 0px 5px 25px rgba(255, 248, 107, 0.6);
    background-image: linear-gradient(90deg, #D114D5, #FC9DF1, #FEF9E6, #D5FFCB, #8FFFC2);
}

.carregando {
    animation: pulsar 1.75s infinite;
}

@keyframes pulsar {
    50% {
        opacity: 0.5;
    }
}



.resposta-conteudo {
    background-color: #00051a66;
    border: 2.5px solid #4579CF;
    border-radius: 12px;

    padding: 20px;
    margin-top: 30px;
}

.hidden {
    display: none;
}